# .github/workflows/gitleaks.yml

name: Gitleaks Scan

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  gitleaks:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Run Gitleaks Full Scan
        uses: gitleaks/gitleaks-action@v2
        with:
          # This tells Gitleaks to run a full scan on the entire repository
          args: --source=./ --verbose --report-format=sarif --report-path=gitleaks.sarif
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
