name: Gitleaks Scan

on: [push, pull_request]

jobs:
  gitleaks:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Run Gitleaks with custom rules
        uses: gitleaks/gitleaks-action@v2.3.9
        with:
          args: detect --source . --config-path .gitleaks.toml --verbose
